.content {
    width:600px;
    height:300px;
    position:absolute;
    left:50%;
    top:100px;
    margin-left:-300px;
    text-align:center;
    color:#fff;
}
.formdiv {
    width:600px;
    height:150px;
    background-color:#708090;
    padding-top:10px;
    border-radius:20px;
}
input {
    height:25px;
    outline:none;
}
.play {
    width:150px;
    background-color:#ff6347;
    border-radius:10px;
    cursor:pointer;
    border:none;
}
.play:hover {
    background-color:#f35800;
}
.gamecontainer {
    width:400px;
    height:400px;
    position:absolute;
    top:200px;
    left:50%;
    margin-left:-200px;
}
.card {
    width:120px;height:120px;background-color:#f35800;
    border-radius:10px;
    cursor:pointer;
    position:absolute;    
    transition-duration: .3s;
    background-repeat:no-repeat;
    background-position:35px 35px;

}
.card:hover {
    background-color:#b94100;
}
.card1 {
    top:0; left:0;
}
.card2 {
    top:0; left:140px;
}
.card3 {
    top:0; left:280px;
}
.card4 {
    top:140px; left:0;
}
.card5 {
    top:140px; left:140px;
}
.card6 {
    top:140px; left:280px;
}
.card7 {
    top:280px; left:0;
}
.card8 {
    top:280px; left:140px;
}
.card9 {
    top:280px; left:280px;
}
.mycard {
    background-image:url('../img/no.png');
}
.comcard {
    background-image:url('../img/yes.png');
}
.gameover {
    position:absolute;
    color:red;
    top:420px;
    left:110px;
    display:none;
}