
.formContainer {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-top: 5%;
}

.boardContainer {
  margin: auto;
  display: inline-block;
}

.row {
  font-size: 0px;
  margin: auto;
}

.row > div {
  display: inline-block;
  font-size: 90px;
  border: solid 1px black;
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: top;
  line-height: 100px;
}

p {
  font-size: 50px;
  text-align: center;
  padding-top: 100px;
}
